name: pre-commit checks

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: "pre-commit-checks"
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  SQLX_OFFLINE: true

jobs:
  pre-commit:
    name: pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.93.1
          components: rustfmt, clippy

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: setup python
        uses: actions/setup-python@v3

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
