name: pre-commit checks

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: "pre-commit-checks"
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  SQLX_OFFLINE: true
  SQLX_VERSION: 0.8.0
  SQLX_FEATURES: "rustls,postgres"

jobs:
  pre-commit:
    name: pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: install sqlx-cli
        run: cargo install sqlx-cli --version ${{ env.SQLX_VERSION }} --features ${{ env.SQLX_FEATURES }} --no-default-features --locked

      - name: Check that queries are fresh
        run: cargo sqlx prepare --workspace --check -- --all-targets

      - name: setup python
        uses: actions/setup-python@v3

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
